body {
    margin: 0;

    /* required for iOS devices */
    cursor: pointer;
}

.ph-page__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

.ph-statement {
    font-family: Roboto, sans-serif;
    font-size: 36px;

    flex-wrap: wrap;

    margin: 16px;

    user-select: none;

    transition: font-size 2s, color 2s;
    text-align: center;

    color: #424242;
}

.ph-statement--animated {
    animation-name: flip;
    animation-fill-mode: both;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    backface-visibility: visible;
}

.ph-placeholder {
    height: 30%;

    transition: height 2s;
}

.ph-placeholder--small {
    height: 20%;
}

.ph-placeholder__bubble {
    animation-name: pulse;
    animation-fill-mode: both;

    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.ph-placeholder__bubble--1 {
    animation-delay: 0.25s;
}

.ph-placeholder__bubble--2 {
    animation-delay: 0.5s;
}

.ph-placeholder__bubble--3 {
    animation-delay: 0.75s;
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes flip {
    from {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        animation-timing-function: ease-out;
    }

    40% {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
        animation-timing-function: ease-out;
    }

    50% {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
        animation-timing-function: ease-in;
    }

    80% {
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in;
    }

    to {
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        animation-timing-function: ease-in;
    }
}
