.nhie-language-dialog .mdc-dialog__surface {
  max-height: 268px
}

.nhie-language-dialog .mdc-dialog__content {
  padding-right: 16px;
  padding-left: 16px;
}

.nhie-language-dialog .nhie-dialog-list-container .mdc-form-field {
  display: flex
}
