<footer class="nhie-footer">
    <a class="nhie-footer__element" href="https://github.com/nhie-io" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a class="nhie-footer__element" href="https://nhie.goatcounter.com" target="_blank" rel="noopener noreferrer">Analytics</a>
</footer>
