<main class="nhie-layout__content">
    <section>
        <div class="nhie-category-selection">
            <label class="nhie-category__label">
                <input class="nhie-category" type="checkbox" value="harmless" checked>
                <img class="nhie-category__icon" src="assets/mojito.svg" width="56" height="72" alt="Mojito">
                <span class="nhie-category__description">harmless</span>
            </label>
            <label class="nhie-category__label">
                <input class="nhie-category" type="checkbox" value="delicate" checked>
                <img class="nhie-category__icon" src="assets/beer.svg" width="56" height="72" alt="Beer">
                <span class="nhie-category__description">delicate</span>
            </label>
            <label class="nhie-category__label">
                <input class="nhie-category" type="checkbox" value="offensive" checked>
                <img class="nhie-category__icon" src="assets/wine.svg" width="56" height="72" alt="Wine">
                <span class="nhie-category__description">offensive</span>
            </label>
        </div>
        <div class="nhie-statement">Tap to start playing.</div>
    </section>
</main>
