<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Never Have I Ever</title>
    <meta name="description" content="Bringing the infamous drinking game to the web.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
</head>
<body class="mdc-typography nhie-layout">
    {{> partials/header }}
    {{> partials/main }}
    {{> partials/footer }}
    {{> partials/dialog }}
    <script data-goatcounter="https://nhie.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
